aside{
    width: 22%;
    height: auto;
}

/* Aside Left */
.aside-left{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;

}

.aside-box{
    width: 100%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aside-left-title{
    width: 100%;
    height: 5.5rem;
    border-bottom: 1px solid var(--color-gray-2);
    display: flex;
    align-items: center;
    color: var(--color-dark-0);
}

.aside-left-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    gap: 1rem;
}

.select-box{
    font-size: 1.4rem;
    position: relative;
}

.select-box-item{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    border:2px solid var(--color-gray-2);
    transition: var(--transition);
}

.select-box-item:hover{
    background-color: var(--color-gray-1);
}

.select-box svg{
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.select-box-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-2);
    border-radius: var(--border-radius);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

.select-box-menu.active{
    visibility: visible;
    opacity: 1;
}

.select-box-menu-item{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--color-gray-2);
    transition: all 0.5s;
}

.select-box-menu-item:hover{
    background-color: var(--color-gray-1);
    cursor: pointer;
}



.aside-left-btns{
    width: 100%;
    height: 4rem;
}

.aside-left-btns button{
    width: 100%;
}

.category-box{
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-2);
    border-radius: var(--border-radius);
    height: auto;
}

.category-box-title{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid var(--color-gray-2);
    background-color: var(--color-gray-0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.category-box-title  >div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.category-box-title-right a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    height: 100%;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
}
.category-box-title a.active{
    padding: 0 1.5rem;
    height: 100%;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    background-color: var(--color-blue-2);
    color: var(--color-white);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-list{
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    position: relative;
    z-index: -1;
    transition: var(--transition);
}

.category-list.active{
    height: auto;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    padding: 2rem;

}

.category-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.category-item input{
    accent-color: var(--color-blue-2);
}

.category-btns{
    padding: 1rem 0;
    color: var(--color-blue-2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category-form-add{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    height: 0;
}

.category-form-add.active{
    opacity: 1;
    visibility: visible;
    height: auto;

}

.category-form-add a{
    height: 4rem;
}

.aside-left-content-image-box{
    width: 100%;
    height: 15rem;
    padding: 1rem;
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.aside-left-image-delete{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-red-0);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: var(--transition);
    cursor: pointer;

}

.aside-left-content-image-box:hover .aside-left-image-delete{
    z-index: 1;
    visibility: visible;
    opacity: 1;
}

.aside-left-image-delete svg{
    width: 4rem;
    height: 4rem;
}

.index-photo{
    padding: 1rem 0;
    color: var(--color-blue-2);
}


/* Aside Right */
.aside-right{
    padding: 0 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.aside-right-top{
    padding: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    gap: 1rem;
}

.box-time-zone{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-time-zone h3{
    font-size: 1.8rem;
}

.date,.time{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.date{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-gray-2);
}

.date span,
.time span{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    min-width: 50px;
    height: 60px;
    font-size: 1.8rem;
    border-radius: var(--border-radius);
    background-color: var(--color-gray-0);
    color: var(--color-blue-2);
}



.aside-right-menu{
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}

.aside-right-item{
    width: 100%;
    padding: 1rem;
    display: flex;
    position: relative;
    z-index: 0;
    border-bottom: 2px solid var(--color-gray-2);

}



.aside-right-item:before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    transition: var(--transition);
    top: 0;
    right: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    z-index: -1;
}

.aside-right-item:not(.aside-right-item.active):hover:before{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--color-blue-2);
    border-right: 2px solid var(--color-blue-2);
}

.aside-right-item a{
    display: flex;
    width: 100%;
    color: var(--color-dark-0);
}

.aside-right-item:not(.aside-right-item.active):hover a{
    color: var(--color-blue-2) ;
}

.aside-right-item span:first-child{
    padding: 0 1rem;
}

.aside-right-item span:last-child{
    display: flex;
    align-items: center;
}


.aside-right-item.active span:first-child{
    display: inline-block;
    padding: 0.75rem 1.1rem;
    background-color: var(--color-blue-2);
    border-radius: 50%;
    color: var(--color-white);
}
.aside-right-item.active span:last-child{
    display: flex;
    align-items: center;
    padding: 0.75rem 1.1rem;
    background-color: var(--color-blue-2);
    border-radius: 6px;
    color: var(--color-white);
    flex-grow: 1;
}


.aside-right-item span svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: currentColor;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 50%;
    }
  
}
@media only screen and (max-width: 62em) {
    aside{
        width: 100%;
        height: auto;
    }
    .aside-right,
    .aside-left{
        padding: 0 1rem;
        display: flex;
        flex-direction: row;
    }
    .aside-right-top{
        width: 30%;
    }
    .aside-right-menu{
        width: 70%;
    }

    .aside-left-content-image-box {
        width: 100%;
        height: 20rem;
    }
    
}
@media only screen and (max-width: 48em) {
    .aside-right,
    .aside-left{
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
    }
    .aside-right-top,
    .asiide-right-menu{
        width: 100%;
    }
    .aside-left-content-image-box {
        width: 50%;
        height: 30rem;
    }
    .aside-right-menu{
        width: 100%;
    }
}
@media only screen and (max-width: 36em) {
    .aside-left-content-image-box {
        width: 100%;
        height: 30rem;
    }
}